@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  background-image: linear-gradient(to right,#97d2fb,  #d5e8f5 ) ;
  overflow: auto;
}

h1 {
  font-size: 3em;
  text-align: center;
}


h2 {
    font-size: 2em;
    text-align: left;
    word-wrap: break-word;
}

// Univseral themes across display sizes
.top-bar {
  background-color: #172a3a; 
}

.masterContainer {
  margin:1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  object-fit: cover;
}





.arrow {
  border: solid black;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 3px;
}

.back {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin: 0 0 0 270px;
}

.forward  {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin: 0 270px 0 0;
}

.forward, .back {
  cursor: pointer;
  width: 30px;
  height: 30px;;
}
.scrolling_Bar {
  width:1000px;
  display: flex;
  overflow-x: scroll;


  justify-content: space-evenly;

  padding: 1rem 1rem;
  height: 320px;
  margin: 0 auto;


}

.scrolling_Bar::-webkit-scrollbar {
  display: none;
}

.scrolling_Bar div {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  flex: none;
}

.scrolling_Bar-wrap {
  display: flex;
  align-items: center;
  gap: 5rem;
  
  .tile {
      flex-direction: row;
//   justify-content: center;
//   align-items: center;
  margin: 1rem;
  padding: 1rem;
    width: 20vm;
    height: 180px;
    filter: grayscale(100%);
    transition: transform 0.5s;
    opacity: .7;
    background-color: #172a3a;
    border-radius: 10px;
    text-wrap: auto;
    overflow: auto;
    padding: 5px;
    
    p {
      text-align: center;;
    }
      .bookTitle{
      padding: 0px, 5px;
      color: #97D2FB;
      }
      
      .bookAuthor {
        padding: 0px, 5px;
        color: #97D2FB;
      }
      
      .bookDescription {
        padding: 0px, 5px;
        color: #97D2FB;
      }
  }
}

.tile:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
  opacity: 1;
}

#scrollbar-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  z-index: -1;
  opacity: 0.75;
  object-fit: cover;
}

.categoryDisplayName {
  align-self: flex-start;
  margin: 1rem;
  color:#f6f3f3;
  font-family: 'Lucida Handwriting', 'Brush Script MT', Cursive, Arial, sans-serif;
  font-size: 25px;
}

.reviewContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviewContent {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  background-color: #172a3a;
  border-radius: 10px;
  color: #f6f3f3;
}

.reviewContent a {
  color: #fff;
}

.pageHead {
  flex-direction: column;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  width: 80vw;
  border-bottom: 1px solid #f6f3f3;
}

.showPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cookbookContents {
justify-content: center;
border-bottom: solid 2px rgb(186, 223, 237);
margin-top: 3rem;
padding: 1rem;
width: 90vw;
}

.cookbookReviewContent {
  padding: 1rem;
  margin: 1rem;
  border:solid 2px rgb(17, 34, 41);
  border-radius: 20px;
  align-content: center;
  text-align: center;
  background-color: #060606;
  color:#fff;
  opacity: .80;
  list-style: none;
}

.cookbookReviewContent h3 {
  margin-top: 2rem;
}

#noReviews {
  margin: 1rem;
  padding:1rem;
  border:solid 2px rgb(17, 34, 41);
  border-radius: 20px;
  align-content: center;
  text-align: center;
  background-color: #060606;
  color:#fff;
  opacity: .80;
}

#noReviews:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
  opacity: 1;
}

.showPageNav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  
  li {
    padding: 1rem;
    margin: 1rem;
    border:solid 2px rgb(17, 34, 41);
    border-radius: 20px;
    align-content: center;
    text-align: center;
    background-color: #060606;
    color:#fff;
    opacity: .80;
  }

  li:hover {
    filter: grayscale(0%);
    transform: scale(1.09);
    opacity: 1;
  
  }
}

.formContainer {
  display: flex;
  justify-content: center;
  
  
  h2 {
    text-align: center;
    align-items: center;
    margin: 1rem;
  }

  .formContent {
    // display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    }

    .formField {
      margin: 1rem;
      padding: 1rem;
      border-radius: 10px;
    }

    .formDescription {
      margin: 1rem;
      padding: 1rem;
      min-height:4em;
      line-height: 1em;
      overflow: auto;
      border-radius: 10px;
      word-wrap: break-word;
      resize: vertical;
    }

    .formButton {
      margin: 1rem;
      padding: 1rem;
      border-radius: 10px;
      background-color: #172a3a;
      color: #f6f3f3;
      align-self: center;
    }

    .showPageNav {
      display: flex; // Add this line
      justify-content: center; // Add this line
      align-items: center; // Add this line
    }
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.allCookbooksContainer {
  display: grid;
  width: 80vw;
  margin: 0 auto;
}


.tile.cookbookTile {
  height: 300px;
  width:200px;
  overflow-y: auto;
  margin: 20px;
  padding: 20px;
  border: solid 2px black;
  border-radius: 10px;
  background-color: #f6f3f3;
}
.aboutMeContainer {
  display: flex; // This will make the children of .aboutMeContainer share the same row
 margin: 20px;

  img {
    width: 25%; // Make the image take up 25% of the width
    border-radius: 50%;
    margin: 1rem;
  }

  .aboutMe {
    width: 75%; 
    margin: 1rem;
  }
}

.userReview {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-content: center;
  list-style-type: none;
  width: 75%;
}
// // medium devices to large devices
// @media screen and (min-width: 60em) {
//   .scrolling-wrapper {
//     position: relative;
//     display: flex;
//     flex-wrap: nowrap;
//     justify-content: space-between;
//     align-items: center;
//     overflow-x: auto;
//     overflow-y: hidden;

//     padding: 1rem 1rem;
//     max-width: 1200px;
//     min-width: 320px;
//     margin: 0 auto;

//     #scrollbar-background {
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 100%;
//       z-index: -1;
//       opacity: 0.75;
//     }

//     .tile {

//       display: flex;
//       flex: 1 0 calc(25% - 1em);
//       flex-direction: column;
//       justify-content: space-between;

//       overflow: auto;
//       background-color: #97d2fb;

//       margin: 60px, 20px, 20px, 5px;
//       padding: 1rem;
//       border: 1px solid #ccc;
//       border-radius: 10px 10px 0 0; 
//       border: 1px solid #ccc;
//       opacity: 0.9;
//     }
//   }
// }


// // small devices
//   @media screen and (min-width: 40em) {
// .scrolling-wrapper {
//   display: flex;
//   flex-wrap: nowrap;
//   justify-content: space-between;
//   overflow-x: auto;
//   overflow-y: hidden;

//   .tile {
//     flex: 1 0 calc(25% - 1em);
//   }
// }
// }


