@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

h1 {
  font-size: 3em;
  text-align: center;
}

h2 {
  font-size: 2em;
  text-align: left;
}

.container {
  display: flex;
  justify-content: center;
  height: 200px;
  background-color: rgb(91, 215, 237);
  padding: 5% 0;
}

#cookbookContainer {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  align-items: center;
  width: 100%;
}

.item {
  flex: 1 0 auto; // Allow the item to grow and fill the container
  display: inline-block;
  justify-content: center;
  background-color: rgb(228, 241, 244);
  padding: 5%;
  border: 0px solid black;
  border-radius: 25% 10%;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  // min-width: 25%; // Minimum width of the item
  width: 100%; // Full width of the item
  height: 200px; // Fixed height
  overflow: hidden; // Add scrollbars if content overflows
}

#cookbookDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5%;
}